.broadcast-periods-table {
  margin: -1.5mm 0 3mm -1mm;

  &.no-space-after {
    margin-bottom: 0;
  }

  tr {
    td {
      font-style: italic;
      vertical-align : top;
      font-size: 9pt;

      &.label {
        font-weight: bold;
      }

      &.periods-col {
        padding-left: 3mm;
      }
    }
  }


}
