/*!
 * Copyright 2020 (c) Neo-OOH - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Valentin Dufois <vdufois@neo-ooh.com>
 *
 * @neo/api - _colors.scss
 */

// Greys
$black           : #000000;
$grey-1          : #595959;
$grey-2          : #888888;
$grey-3          : #BBBBBB;
$grey-4          : #EEEEEE;
$grey-5          : #F4F4F5;
$white           : #FFFFFF;

// Colors
$dark-blue       : #252734;
$light-blue      : #3e9cca;
$success         : #00B338;
$warning         : #e5782c;
$danger          : #d63641;

// Aliases
$dark-grey       : $grey-1;
$idle-grey       : $grey-2;
$light-grey      : $grey-3;
$ultralight-grey : $grey-4;

$shopping        : $light-blue;
$otg             : $warning;
$fitness         : $danger;
