/*!
 * Copyright 2020 (c) Neo-OOH - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Valentin Dufois <vdufois@neo-ooh.com>
 *
 * @neo/api - _fonts.scss
 */

$font-bold : "poppins-bold";
$font-regular : "poppins-regular";
$font-light   : "poppins-light";
$font-extra-light   : "poppins-extra-light";
