/*!
 * Copyright 2020 (c) Neo-OOH - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Valentin Dufois <vdufois@neo-ooh.com>
 *
 * @neo/api - _footer.scss
 */

@import "colors";
@import "fonts";

footer {
  position: absolute;
  left: 10mm;
  bottom: 10mm;
}

.footer-company-branding-logo {
  width : 30mm;
}

.footer-folio {
  text-align: right;

  &-current {
    font-size : 1.802rem;
  }

  &-group {
    font-size : 1.125rem;
    color     : $idle-grey;
  }
}
