/*!
 * Copyright 2020 (c) Neo-OOH - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Valentin Dufois <vdufois@neo-ooh.com>
 *
 * @neo/api - _footer.scss
 */

@import "colors";
@import "fonts";

footer {
  width : 100%;

  .footer-table {
    width : 100%;
  }
}

.footer-caption {
  font-size : .889rem;
  color     : $idle-grey;
}

.footer-logo {
  width : 20mm;

  .footer-company-branding-logo {
    width : 20mm;
  }
}

.footer-folio {
  text-align : right;

  &-current {
    font-size : 1.2rem;
  }

  &-group {
    font-size : .75rem;
    color     : $idle-grey;
  }
}
