/*!
 * Copyright 2020 (c) Neo-OOH - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Valentin Dufois <vdufois@neo-ooh.com>
 *
 * @neo/api - _header.scss
 */

@import "colors";
@import "fonts";

header {
  margin: -5mm 0;
  width: 100%;

  .header-table {
    margin-top: -10mm;
    width : 100%;
  }
}

.header {
  &-company-logo {
    width : 40mm;
  }

  &-neo-logo {
    width : 40mm;
  }

  &-title {
    //width       : calc(100% - 150mm);
    text-align  : center;
    font-family : $font-extra-light;
    font-size   : 24pt;
  }

  &-contract {
    width           : 70mm;
  }

  &-contract-data {
    width           : 80mm;
    border-collapse : collapse;

    tr {
      td {
        border-bottom : 1px solid #000000;
        font-size     : 8pt;

        &:nth-child(1) {
          border-right : 1px solid #000000;
          padding      : .5mm 1mm .5mm 0;

          white-space: nowrap;
          width: 35mm;
        }

        &:nth-child(2) {
          padding : .5mm 0 .5mm 1mm;
        }
      }

      &.last td {
        border-bottom : none;
      }
    }

    &-label {
      font-family : $font-light;
      text-align  : right;
    }

    &-value {
      font-weight : bold;
    }
  }
}
