/*!
 * Copyright 2020 (c) Neo-OOH - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Valentin Dufois <Valentin Dufois>
 *
 * @neo/api - contract.scss
 */

@import "colors";
@import "fonts";

@page {
  margin-left : 1mm;
}

h1, h2 {
  font-family : $font-bold;
}


.shopping {
  color : $shopping;
}

.otg {
  color : $otg;
}

.fitness {
  color : $fitness;
}

@mixin debug-style {
  border           : 3px solid rgba(255, 0, 0, .75);
  background-color : rgba(0, 255, 0, .25);
}

@import "header";
@import "footer";

.summary-purchases-table {
  border-collapse : collapse;
  margin-bottom   : 5mm;

  thead tr th {
    width            : 24mm;
    padding          : 2mm 1mm;

    color            : #FFFFFF;
    font-family      : $font-bold;
    text-align       : center;
    font-size        : .85em;

    background-color : $dark-blue;
    border-left      : 1px solid #FFFFFF;

    &:nth-child(1) {
      width       : 40mm;
      border-left : none;
    }
  }

  tbody tr {
    td {
      padding     : 3mm 0;

      color       : #FFFFFF;
      font-family : $font-bold;
      text-align  : center;
      font-size   : .889em;

      border-left : 1px solid #FFFFFF;
      border-top  : 1px solid #FFFFFF;


      &:nth-child(1) {
        border-left : none;
      }
    }

    &.shopping td {
      background-color : $shopping;
    }

    &.otg td {
      background-color : $otg;
    }

    &.fitness td {
      background-color : $fitness;
    }
  }

  tfoot tr td {
    padding     : 4mm 0;
    color       : $dark-blue;
    font-family : $font-bold;
    font-weight : bold;
    text-align  : center;
    font-size   : .889em;
  }
}

.detailed-purchases-title {
  margin-bottom  : 0;
  text-transform : uppercase;
  font-size      : 14pt;

  .shopping {
    color : $shopping;
  }

  .otg {
    color : $otg;
  }

  .fitness {
    color : $fitness;
  }
}

// Define mixin for column sizing
@mixin detailed-col-sizing() {
  width : 25mm;

  &:nth-child(1) {
    width : 60mm;
  }

  &.larger {
    width : 120mm;
  }

  &:nth-child(2) {
    width : 40mm;
  }
}

.detailed-purchases-wrapper {
  border-collapse   : collapse;
  //page-break-inside : avoid;
  margin: 0;

  tr td, tr th {
    padding : 0;
  }

  tr.spacer-row td {
    height : 2mm;
  }
}

.detailed-purchases-table {
  border-collapse   : collapse;

  tr {
    th {
      padding          : 2mm 0;
      background-color : $dark-blue;
      color            : #FFFFFF;

      font-family: $font-bold;
      font-weight      : bold;
      text-align       : center;
      font-size        : 10pt;
      border-right     : 2px solid #FFFFFF;

      @include detailed-col-sizing;

      &:nth-child(11), &.last {
        border-right : none;
      }
    }
  }
}

.region-row-wrapper {
  margin : 0;
}

.region-row-table {
  border-collapse   : collapse;
  padding         : 0;

  tr {
    td {
      font-size        : 9pt;
      padding          : 1mm 0;
      text-align       : center;
      font-weight      : bold;
      background-color : $ultralight-grey;

      @include detailed-col-sizing;

      &:nth-child(1) {
        border-right : 2px solid #FFFFFF;
      }

      &:nth-child(2) {
        width : 215mm;
      }

      &.show-investment {
        width : 265mm;
      }
    }
  }
}

.property-purchases-table {
  border-collapse   : collapse;
  page-break-inside : avoid;

  tr {
    th {
      width     : 25mm;
      padding   : 2mm 0 1mm;
      font-size : 9pt;

      @include detailed-col-sizing;

      &.property-name {
        text-align  : left;
        font-family : $font-bold;
        font-size   : 10pt;

        &.shopping {
          color : $shopping;
        }

        &.otg {
          color : $otg;
        }

        &.fitness {
          color : $fitness;
        }
      }

      &.property-city {
        padding    : 2mm 1mm 1mm;
        text-align : center;
      }

      &:nth-child(11), &.last {
        border-right : none;
      }
    }

    &.purchase-row {
      td {
        padding    : 1mm 0;
        text-align : center;
        font-size  : 9pt;

        &.product-type {
          padding-left : 7.5mm;
          text-align   : left;
        }
      }

      &.last {
        td {
          padding-bottom : 2mm;
          border-bottom  : 1px solid #000000;
        }
      }

      &.shopping td.border-right {
        border-right : 1px solid $shopping;
      }

      &.otg td.border-right {
        border-right : 1px solid $otg;
      }

      &.fitness td.border-right {
        border-right : 1px solid $fitness;
      }
    }

    &.shopping td.border-right,
    &.shopping th.border-right {
      border-right : 1px solid $shopping;
    }

    &.otg td.border-right,
    &.otg th.border-right {
      border-right : 1px solid $otg;
    }

    &.fitness td.border-right,
    &.fitness th.border-right {
      border-right : 1px solid $fitness;
    }
  }
}

.region-footer-table {
  border-collapse : collapse;

  tr {
    td {
      padding          : 1mm 0;
      text-align       : center;
      font-family      : $font-bold;
      font-weight      : bold;

      font-size   : 9pt;
      color            : #FFFFFF;
      background-color : $light-grey;

      &:nth-child(1) {
        border-right : 2px solid #FFFFFF;
      }

      @include detailed-col-sizing;
    }

    &.shopping td.border-right,
    &.shopping th.border-right {
      border-right : 1px solid $shopping;
    }

    &.otg td.border-right,
    &.otg th.border-right {
      border-right : 1px solid $otg;
    }

    &.fitness td.border-right,
    &.fitness th.border-right {
      border-right : 1px solid $fitness;
    }
  }
}

.totals-wrapper {
  border-collapse : collapse;
  tr {
    td {
      color       : #FFFFFF;
      padding     : 1mm 0;

      font-size   : 9pt;
      font-family : $font-bold;
      font-weight : bold;
      text-align  : center;

      @include detailed-col-sizing;

      &.label-row {
        border-right : 2px solid #FFFFFF;
      }

      &.border-right {
        border-right : 1px solid #FFFFFF;
      }
    }

    &.shopping td {
      background-color : $shopping;
    }

    &.otg td {
      background-color : $otg;
    }

    &.fitness td {
      background-color : $fitness;
    }
  }
}

.detailed-purchases-footer {
  height : 10mm;
  width  : 50mm;
}

.detailed-purchases-summary-table {
  border-collapse : collapse;
  margin-top      : -5mm;

  tr td {
    width            : 25mm;
    padding          : 1.5mm 0;

    background-color : $dark-blue;
    border-right     : 1px solid #FFFFFF;

    color            : #FFFFFF;
    font-family      : $font-bold;
    font-weight      : bold;
    text-align       : center;
    font-size        : 10pt;
    text-transform   : uppercase;

    letter-spacing   : -.025em;

    &:nth-child(1) {
      width              : 60mm;
      border-right-width : 2px;
    }

    &.larger {
      width : 120mm;
    }

    &:nth-child(2) {
      width : 90mm;
    }

    &:nth-child(9), &.last {
      border-right : none;
    }
  }
}

.production-specs-table {
  border-collapse : collapse;

  thead tr th {
    width            : 46.68mm;
    padding          : 5mm 1mm;

    color            : #FFFFFF;
    text-align       : center;
    font-size        : .889em;

    background-color : $dark-blue;

    border-left      : 2px solid #FFFFFF;

    &:nth-child(1) {
      border-left : none;
    }
  }

  tbody tr td {
    padding     : 2mm 0;

    text-align  : center;
    font-weight : normal;
    font-size   : .79em;

    border-top  : 1px solid $dark-blue;
  }

  tfoot tr td {
    padding          : 2mm 1mm;

    color            : #FFFFFF;
    text-align       : center;
    font-size        : .889em;

    background-color : $dark-blue;
  }
}

.technical-specs-title {
  margin         : 15mm 0 0 0;
  font-size      : 1.2rem;
  text-transform : uppercase;
}

.technical-specs-table {
  border-collapse : collapse;

  thead tr th {
    width            : 30mm;
    padding          : 2mm 1mm;

    color            : #FFFFFF;
    text-align       : center;
    font-size        : .889em;

    background-color : $dark-blue;

    &:nth-child(1) {
      width : 50mm;
    }
  }

  tbody tr td {
    padding     : 2mm 0;

    text-align  : center;
    font-weight : normal;
    font-size   : .79em;

    border-top  : 1px solid $dark-blue;
  }
}

.summary-right-col {
  position : fixed;
  top      : 0;
  left     : 170mm;
}

.summary-totals-table {
  border-collapse : collapse;

  thead {
    tr th {
      width            : 25mm;
      padding          : 2mm 0;

      color            : #FFFFFF;
      text-align       : center;
      font-family      : $font-bold;
      font-size        : .889em;

      background-color : $dark-blue;
      border-bottom    : 1px solid $dark-blue;

      &.placeholder {
        background-color : transparent;
      }

      &:nth-child(1) {
        width            : 63mm;

        background-color : #FFFFFF;
        font-size        : 1.125em;
        color            : $dark-blue;
        text-transform   : uppercase;
      }
    }
  }

  &.full {
    margin-top   : 5mm;
    table-layout : fixed;

    thead tr th:nth-child(1) {
      width : 40mm;
    }

    tbody tr td {
    }
  }

  tbody tr {
    td {
      height        : 12mm;

      text-align    : center;
      color         : $dark-blue;
      font-family   : $font-bold;
      font-weight   : bold;
      font-size     : .889em;

      border-bottom : 1px solid $idle-grey;

      &.investment {
        background-color : lighten($light-blue, 35%);
      }

      &:nth-child(1) {
        border-right : 1px solid $idle-grey;
      }
    }

    &.grand-total td {
      background-color : $ultralight-grey;

      &.investment {
        background-color : lighten($light-blue, 20%);
      }
    }

    &.cpm td {
      border-bottom : none;

      &.investment {
        background-color : lighten($light-blue, 20%);
      }
    }
  }
}

.summary-notices {
  margin-top : 15mm;
  color      : $dark-blue;

  p {
    strong {
      font-family : $font-bold;
      font-weight : bold;
    }

    .emphase {
      font-family : $font-regular;
      font-weight : bold;
    }
  }
}
