/*!
 * Copyright 2020 (c) Neo-OOH - All Rights Reserved
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Written by Valentin Dufois <vdufois@neo-ooh.com>
 *
 * @neo/api - contract.scss
 */

@import "common";


@page {
  size             : portrait;
  background-color : #FFFFFF;

  //margin-top       : 15mm;
  margin-left      : 15mm;
  margin-right     : 15mm;

  header           : html_default_header;
  footer           : html_default_footer;
}

.contract-home-page {
  h1 {
    margin-bottom : 0;
    text-align    : center;
    color         : $dark-blue;
    font-size     : 1.5rem;
    font-family   : $font-regular;
  }

  h2 {
    text-transform : uppercase;
    font-size      : 14pt;
    font-weight    : $font-regular;
    margin-bottom  : 0;
  }

  .contract-party {
    font-size : 9pt;

    &-left-column {
      width          : 35mm;
      float          : left;

      font-size      : 12pt;
      text-transform : uppercase;
    }

    &-right-column {
      float : left;

      .party-infos {
        font-size       : 9pt;
        border-collapse : collapse;

        tr {
          td {
            &:nth-child(2) {
              padding-left : 2mm;
              font-family  : $font-bold;
              color        : $dark-blue;
            }
          }
        }
      }
    }

    .first-party-name {
      line-height : 1.3;
      margin-top  : 0;

      strong {
        font-family : $font-bold;
      }
    }

    &.second-party {
      margin-top : 4mm;
    }
  }

  .payable-contact {
    width           : 200mm;
    margin-top      : 6mm;
    border-collapse : collapse;
    border          : 1px solid $dark-blue;
    font-size       : 9pt;

    tr {
      th {
        height           : 8mm;
        padding          : 0 4mm;
        background-color : $dark-blue;
        color            : $white;
        text-align       : left;
      }

      td {
        height        : 8mm;
        border-bottom : 1px solid $dark-grey;

        &:nth-child(1) {
          width        : 38mm;
          padding      : 0 2mm;
          text-align   : right;
          border-right : 1px solid $dark-grey;
        }

        &:nth-child(2) {
          background-color : $ultralight-grey;
        }

        &.invoice-type-cell {
          padding-left : 3mm;
        }
      }
    }
  }

  .costs-recap {
    margin-top : 3mm;

    p {
      margin    : 0;
      font-size : 10pt;
    }

    .investment-label {
      margin-top : 0;
      width      : 50mm;
    }

    .costs-recap-table {
      margin-top      : -6mm;
      margin-left     : 50mm;
      width           : 80mm;
      border-collapse : collapse;
      border          : 1px solid $dark-blue;
      font-size       : 9pt;

      tr {
        td, th {
          height  : 6mm;

          padding : 0 2mm;
        }

        td {
          &:nth-child(1) {
            border-right : 1px solid $dark-blue;
          }

          &:nth-child(2) {
            background-color : $ultralight-grey;
            text-align       : right;
          }

          &.value.row-1 {
            border-bottom : 1px solid $dark-blue;
          }
        }

        &.footer {
          th {
            text-transform   : uppercase;
            background-color : $dark-blue;
            color            : $white;

            &:nth-child(2) {
              text-align : right;
            }
          }
        }
      }
    }
  }

  .payment-terms {
    ul {
      margin-top : -2mm;

      li {
        font-size   : 9pt;
        line-height : 1.6;

        strong {
          font-family : $font-bold;
        }
      }
    }
  }

  .intervention {
    h2 {
      margin : 0;
    }

    p {
      margin      : 0;
      font-size   : 9pt;
      line-height : 1.6;
    }
  }

  .signatures {
    border-collapse : collapse;
    border          : 1px solid $dark-blue;
    width           : 200mm;
    font-size       : 9pt;
    margin-top      : 5mm;

    tr {
      td, th {
        height : 8mm;
      }

      &.header th {
        padding        : 0 2mm;
        border-bottom  : 1px solid $dark-blue;
        text-transform : uppercase;
        text-align     : left;
      }

      .v-separator, .end-spacing {
        width : 10mm;
      }

      &.client-top-row, &.neo-top-row {
        td:nth-child(1) {
          padding : 0 2mm;
          width   : 65mm;
        }

        td.date-placeholder {
          border-bottom : 1px solid $light-grey;
        }

        td.signed-by {
          width   : 16mm;
          padding : 0 2mm;
        }

        td.signature-placeholder {
          width         : 55mm;
          border-bottom : 1px solid $light-grey;
        }
      }

      &.client-bottom-row, &.neo-bottom-row {
        td.date, td.client-name {
          text-align : center;
        }
      }

      &.client-bottom-row td {
        border-bottom : 1px solid $dark-blue;
      }

      &.client-top-row, &.client-bottom-row {
        .v-separator {
          border-right : 1px solid $dark-grey;
        }

        .signed-by, .signed-by-spacer, .signature-placeholder, .client-name, .end-spacing {
          background-color : $ultralight-grey;
        }
      }
    }
  }
}

#general-conditions {
  border-top : 1px solid $ultralight-grey;

  h1 {
    text-align  : center;
    color       : $dark-blue;
    font-size   : 1.5rem;
    font-family : $font-regular;
  }

  h2 {
    text-transform : uppercase;
    font-size      : 14pt;
    font-weight    : $font-regular;
    margin-bottom  : 0;
  }

  p {
    font-size : 9pt;
  }

  .signature {
    margin-top      : 20mm;
    border-collapse : collapse;
    font-size       : 9pt;

    tr {
      td {
        &:nth-child(1) {
          padding-right : 5mm;
        }

        &.date-placeholder {
          width         : 25mm;
          border-bottom : 1px solid $idle-grey;
        }

        &:nth-child(3) {
          padding : 0 5mm;
        }

        &.signature-placeholder {
          width         : 50mm;
          border-bottom : 1px solid $idle-grey;
        }
      }
    }

    .date-placeholder {
      border-left  : 5mm solid $white;
      border-right : 5mm solid $white;
    }
  }
}

.summary-purchases-table {
  border-collapse : collapse;
  margin-bottom   : 5mm;

  thead tr th {
    width            : 24.5mm;
    padding          : 2mm 1mm;

    color            : #FFFFFF;
    font-family      : $font-bold;
    text-align       : center;
    font-size        : .85em;

    background-color : $dark-blue;
    border-left      : 1px solid #FFFFFF;

    &:nth-child(1) {
      width       : 39mm;
      border-left : none;
    }
  }

  tbody tr {
    td {
      padding     : 3mm 0;

      color       : #FFFFFF;
      font-family : $font-bold;
      text-align  : center;
      font-size   : .889em;

      border-left : 1px solid #FFFFFF;
      border-top  : 1px solid #FFFFFF;


      &:nth-child(1) {
        border-left : none;
      }
    }

    &.shopping td {
      background-color : $shopping;
    }

    &.otg td {
      background-color : $otg;
    }

    &.fitness td {
      background-color : $fitness;
    }
  }

  tfoot tr td {
    padding     : 4mm 0;
    color       : $dark-blue;
    font-family : $font-bold;
    font-weight : bold;
    text-align  : center;
    font-size   : .889em;
  }
}

.extension-strategy-cpm {
  width: 100%;
  text-align: right;
  font-style: italic;
  font-size: .889rem;
}

.audience-extension-table {
  border-spacing: 0;
  width         : 100%;
  margin-bottom : 5mm;

  thead tr th {
    width            : 24.5mm;
    padding          : 2mm 1mm;

    color            : #FFFFFF;
    font-family      : $font-bold;
    text-align       : center;
    font-size        : .85em;

    background-color : $dark-blue;
    border-left      : 1px solid #FFFFFF;

    &:nth-child(1) {
      border-left: none;
    }
  }

  tbody tr {
    td {
      padding     : 2mm 0;

      color       : #000000;
      text-align  : center;
      font-size   : .79em;

      border-bottom: 1px solid $dark-blue;
      border-left : 1px solid #FFFFFF;
      border-top  : 1px solid #FFFFFF;

      &:nth-child(1) {
        border-left: none;
      }
    }

    &.strategy-type-row td {
      padding          : .5mm 0;
      text-align       : center;
      border-bottom: none;

      font-size   : .889em;
      color            : #FFFFFF;
      background-color : $dark-blue;
      border-top  : 1px solid #FFFFFF;
    }
  }
}


.detailed-purchases-title {
  margin-bottom  : 0;
  text-transform : uppercase;
  font-size      : 14pt;

  .shopping {
    color : $shopping;
  }

  .otg {
    color : $otg;
  }

  .fitness {
    color : $fitness;
  }
}

// Define mixin for column sizing
@mixin detailed-col-sizing() {
  td, th {
    width : 25mm;

    &:nth-child(1) {
      width : 57.5mm;
    }

    &.larger {
      width : 120mm;
    }

    &:nth-child(2) {
      width : 40mm;
    }

    &.investment-col {
      width : 27.5mm;
    }
  }

  &.without-invest {
    td:nth-child(1), th:nth-child(1) {
      width : 110mm;
    }

    td:nth-child(2), th:nth-child(2) {
      width : 50mm;
    }
  }
}

.detailed-purchases-wrapper {
  border-collapse : collapse;
  //page-break-inside : avoid;
  margin          : 0;

  tr td, tr th {
    padding : 0;
  }

  tr.spacer-row td {
    height : 2mm;
  }
}

.detailed-purchases-table {
  border-collapse : collapse;

  tr {
    @include detailed-col-sizing;

    th {
      padding          : 2mm 0;
      background-color : $dark-blue;
      color            : #FFFFFF;

      font-family      : $font-bold;
      font-weight      : bold;
      text-align       : center;
      font-size        : 9pt;
      border-right     : 2px solid #FFFFFF;

      &:nth-child(11), &.last {
        border-right : none;
      }
    }
  }
}

.region-row-wrapper {
  margin : 0;
}

.region-row-table {
  border-collapse : collapse;
  padding         : 0;

  tr {
    td {
      font-size        : 9pt;
      padding          : 1mm 0;
      text-align       : center;
      font-weight      : bold;
      background-color : $ultralight-grey;

      &:nth-child(1) {
        border-right : 2px solid #FFFFFF;
        width        : 57.5mm;
      }

      &:nth-child(2) {
        width : 267.5mm;
      }
    }

    &.without-invest {
      td:nth-child(1) {
        width : 110mm;
      }

      td:nth-child(2) {
        width : 225mm;
      }
    }
  }
}

.property-purchases-table {
  border-collapse   : collapse;
  page-break-inside : avoid;

  tr {
    @include detailed-col-sizing;

    th {
      width     : 25mm;
      padding   : 2mm 0 1mm;
      font-size : 9pt;

      &.property-name {
        text-align  : left;
        font-family : $font-bold;
        font-size   : 10pt;

        &.shopping {
          color : $shopping;
        }

        &.otg {
          color : $otg;
        }

        &.fitness {
          color : $fitness;
        }
      }

      &.property-city {
        padding    : 2mm 1mm 1mm;
        text-align : center;
      }

      &:nth-child(11), &.last {
        border-right : none;
      }
    }

    &.purchase-row {
      td {
        padding    : 1mm 0;
        text-align : center;
        font-size  : 9pt;

        &.product-type {
          padding-left : 7.5mm;
          text-align   : left;
        }
      }

      &.last {
        td {
          padding-bottom : 2mm;
          border-bottom  : 1px solid #000000;
        }
      }

      &.shopping td.border-right {
        border-right : 1px solid $shopping;
      }

      &.otg td.border-right {
        border-right : 1px solid $otg;
      }

      &.fitness td.border-right {
        border-right : 1px solid $fitness;
      }
    }

    &.shopping td.border-right,
    &.shopping th.border-right {
      border-right : 1px solid $shopping;
    }

    &.otg td.border-right,
    &.otg th.border-right {
      border-right : 1px solid $otg;
    }

    &.fitness td.border-right,
    &.fitness th.border-right {
      border-right : 1px solid $fitness;
    }
  }
}

.region-footer-table {
  border-collapse : collapse;

  tr {
    @include detailed-col-sizing;

    td {
      padding          : 1mm 0;
      text-align       : center;
      font-family      : $font-bold;
      font-weight      : bold;

      font-size        : 9pt;
      color            : #FFFFFF;
      background-color : $light-grey;

      &:nth-child(1) {
        border-right : 2px solid #FFFFFF;
      }
    }

    &.shopping td.border-right,
    &.shopping th.border-right {
      border-right : 1px solid $shopping;
    }

    &.otg td.border-right,
    &.otg th.border-right {
      border-right : 1px solid $otg;
    }

    &.fitness td.border-right,
    &.fitness th.border-right {
      border-right : 1px solid $fitness;
    }
  }
}

.totals-wrapper {
  border-collapse : collapse;

  tr {
    @include detailed-col-sizing;

    td {
      color       : #FFFFFF;
      padding     : 1mm 0;

      font-size   : 9pt;
      font-family : $font-bold;
      font-weight : bold;
      text-align  : center;

      &.label-row {
        border-right : 2px solid #FFFFFF;
      }

      &.border-right {
        border-right : 1px solid #FFFFFF;
      }
    }

    &.shopping td {
      background-color : $shopping;
    }

    &.otg td {
      background-color : $otg;
    }

    &.fitness td {
      background-color : $fitness;
    }
  }
}

.detailed-purchases-footer {
  height : 10mm;
  width  : 50mm;
}

.detailed-purchases-summary-table {
  border-collapse : collapse;
  margin-top      : -5mm;

  tr {
    td {
      width : 24.5mm;
    }

    &.with-invest td {
      width : 25mm;
    }

    td {
      padding          : 1.5mm 0;

      background-color : $dark-blue;
      border-right     : 1px solid #FFFFFF;

      color            : #FFFFFF;
      font-family      : $font-bold;
      font-weight      : bold;
      text-align       : center;
      font-size        : 10pt;
      text-transform   : uppercase;

      letter-spacing   : -.025em;

      &:nth-child(1) {
        width              : 57.5mm;
        border-right-width : 2px;
      }

      &:nth-child(2) {
        width : 90mm;
      }

      &.larger {
        width : 108mm;
      }

      &.larger-2 {
        width : 98mm;
      }

      &.investment-col {
        width : 27.5mm;
      }

      &:nth-child(9), &.last {
        border-right : none;
      }
    }
  }
}

.production-specs-table {
  border-collapse : collapse;

  thead tr th {
    width            : 46.68mm;
    padding          : 5mm 1mm;

    color            : #FFFFFF;
    text-align       : center;
    font-size        : .889em;

    background-color : $dark-blue;

    border-left      : 2px solid #FFFFFF;

    &:nth-child(1) {
      border-left : none;
    }
  }

  tbody tr td {
    padding     : 2mm 0;

    text-align  : center;
    font-weight : normal;
    font-size   : .79em;

    border-top  : 1px solid $dark-blue;
  }

  tfoot tr td {
    padding          : 2mm 1mm;

    color            : #FFFFFF;
    text-align       : center;
    font-size        : .889em;

    background-color : $dark-blue;
  }
}

.technical-specs-title {
  margin         : 15mm 0 0 0;
  font-size      : 1.2rem;
  text-transform : uppercase;
}

.technical-specs-table {
  border-collapse : collapse;

  thead tr th {
    width            : 30mm;
    padding          : 2mm 1mm;

    color            : #FFFFFF;
    text-align       : center;
    font-size        : .889em;

    background-color : $dark-blue;

    &:nth-child(1) {
      width : 50mm;
    }
  }

  tbody tr td {
    padding     : 2mm 0;

    text-align  : center;
    font-weight : normal;
    font-size   : .79em;

    border-top  : 1px solid $dark-blue;
  }
}

.summary-right-col {
  position : fixed;
  top      : 5mm;
  left     : 170mm;
}

.summary-totals-table {
  border-collapse : collapse;

  thead {
    tr th {
      width            : 25mm;
      padding          : 2mm 0;

      color            : #FFFFFF;
      text-align       : center;
      font-family      : $font-bold;
      font-size        : .889em;

      background-color : $dark-blue;
      border-bottom    : 1px solid $dark-blue;

      &.placeholder {
        background-color : transparent;
      }

      &:nth-child(1) {
        width            : 63mm;

        background-color : #FFFFFF;
        font-size        : 1.125em;
        color            : $dark-blue;
        text-transform   : uppercase;
      }
    }
  }

  &.full {
    margin-top   : 5mm;
    table-layout : fixed;

    thead tr th:nth-child(1) {
      width : 40mm;
    }

    tbody tr td {
    }
  }

  tbody tr {
    td {
      height        : 12mm;

      text-align    : center;
      color         : $dark-blue;
      font-family   : $font-bold;
      font-weight   : bold;
      font-size     : .889em;

      border-bottom : 1px solid $idle-grey;

      &.investment {
        background-color : lighten($light-blue, 35%);
      }

      &:nth-child(1) {
        border-right : 1px solid $idle-grey;
      }
    }

    &.grand-total td {
      background-color : $ultralight-grey;

      &.investment {
        background-color : lighten($light-blue, 20%);
      }
    }

    &.cpm td {
      border-bottom : none;

      &.investment {
        background-color : lighten($light-blue, 20%);
      }
    }
  }
}

.summary-notices {
  margin-top : 15mm;
  color      : $dark-blue;

  p {
    strong {
      font-family : $font-bold;
      font-weight : bold;
    }

    .emphase {
      font-family : $font-regular;
      font-weight : bold;
    }
  }
}
