@import "common";

@page {
  size             : landscape;
  background-color : #FFFFFF;

  margin-top       : 40mm;
  margin-left      : 15mm;
  margin-right     : 15mm;

  header           : html_default_header;
  footer           : html_default_footer;
}

@page preface {
  size             : landscape;
  background-color : #FFFFFF;
  margin-top       : 70mm;

  header           : _blank;
  footer           : _blank;
}

@page preface

//noinspection CssInvalidPseudoSelector
:first {
  size             : landscape;
  background-color : $dark-blue;
  margin-top       : 45mm;

  header           : _blank;
  footer           : _blank;
}

#cover-page {
  .jumbo-logo {
    text-align : center;

    .jumbo-neo-logo {
      width : 110mm;
    }
  }

  .divider {
    width            : 75mm;
    height           : 1mm;

    margin-top       : 15mm;
    margin-bottom    : 12mm;
    margin-left      : auto;
    margin-right     : auto;

    background-color : #FFFFFF;
  }

  .document-title {
    color       : #FFFFFF;
    font-size   : 3rem;
    font-family : $font-light;
    text-align  : center;
    margin      : 0;
  }

  .document-subtitle {
    margin-top  : -5mm;
    color       : #FFFFFF;
    font-size   : 2rem;
    font-family : $font-bold;
    font-weight : bold;
    text-align  : center;
  }
}

@page preface {
  size             : landscape;
  background-color : #FFFFFF;
  margin-top       : 70mm;
}

#preface {
  .preface-table {
    margin          : 0 auto 0;
    width           : 180mm;
    border-collapse : collapse;

    $top-space      : 3mm;
    $side-space     : 5mm;

    tr {
      td {
        border-bottom : 1px solid #000000;
        font-size     : 1.4rem;

        &:nth-child(1) {
          text-align   : right;
          border-right : 1px solid #000000;
          padding      : $top-space $side-space $top-space 0;

          white-space  : nowrap;
          width        : 90mm;
        }

        &:nth-child(2) {
          padding     : $top-space 0 $top-space $side-space;
          width       : 90mm;

          font-family : $font-bold;
          color       : $dark-blue;
        }
      }

      &:nth-child(6) td {
        border-bottom : none;
      }
    }
  }
}

.neo-logo-footer {
  position : absolute;
  bottom   : 10mm;
  left     : 10mm;

  width    : 35mm;

  .small-neo-logo {
  }
}

#summary {
  margin-top : 5mm;
}

.summary-network-table {
  border-collapse : collapse;
  margin-bottom   : 5mm;
  width           : 100%;

  thead tr th {
    padding          : 2mm 1mm;

    width            : 42.5mm;
    color            : #FFFFFF;
    font-family      : $font-bold;
    text-align       : center;
    font-size        : .85em;

    background-color : $dark-blue;
    border-left      : 1px solid #FFFFFF;

    &.network {
      width       : 70mm;
      border-left : none;
    }
  }

  tbody tr {
    td {
      padding     : 3mm 0;

      color       : #FFFFFF;
      font-family : $font-bold;
      text-align  : center;
      font-size   : .889em;

      border-left : 1px solid #FFFFFF;
      border-top  : 1px solid #FFFFFF;


      &:nth-child(1) {
        border-left : none;
      }
    }

    &.shopping td {
      background-color : $shopping;
    }

    &.otg td {
      background-color : $otg;
    }

    &.fitness td {
      background-color : $fitness;
    }
  }

  tfoot tr td {
    padding     : 4mm 0;
    color       : $dark-blue;
    font-family : $font-bold;
    font-weight : bold;
    text-align  : center;
    font-size   : .889em;
  }
}

.summary-totals-table {
  border-collapse : collapse;
  width           : 100%;
  page-break-inside: avoid;

  thead {
    tr th {
      width            : 42.5mm;
      height           : 12mm;
      padding          : 2mm 0;

      color            : #FFFFFF;
      text-align       : center;
      font-family      : $font-bold;
      font-size        : .889em;

      background-color : $dark-blue;
      border-bottom    : 1px solid $dark-blue;

      &.placeholder {
        background-color : transparent;
      }

      &:nth-child(1) {
        width            : 70mm;

        background-color : #FFFFFF;
        font-size        : 1.125em;
        color            : $dark-blue;
        text-transform   : uppercase;
      }
    }
  }

  tbody tr {
    td {
      height        : 12mm;

      text-align    : center;
      color         : $dark-blue;
      font-family   : $font-bold;
      font-weight   : bold;
      font-size     : .889em;

      border-bottom : 1px solid $idle-grey;

      &:nth-child(1) {
        border-right : 1px solid $idle-grey;
      }

      &.media-value {
        color: $idle-grey;
      }
    }

    &:nth-child(odd) td {
      background-color : $ultralight-grey;
    }

    &.cpm td {
      border-bottom : none;
    }

    &:nth-child(1) td {
      background-color : lighten($light-blue, 40%);
    }
  }

  tfoot tr {
    td {
      height           : 12mm;

      text-align       : center;
      color            : $dark-blue;
      font-family      : $font-bold;
      font-weight      : bold;
      font-size        : .889em;

      background-color : #FFFFFF;

      &:nth-child(1) {
        border-right : 1px solid $idle-grey;
      }

      &.media-value {
        color: $idle-grey;
      }
    }
  }
}

#screenshots {
  .screenshot-card {
    page-break-inside: avoid;

    float       : left;
    width       : 75mm;
    margin-left : 7.5mm;

    border      : 2px solid $dark-blue;
    border-radius: 5px;

    &.flush-left {
      margin-top  : 7.5mm;
      margin-left : 0;
    }

    .thumbnail-wrapper {
      background-color    : $ultralight-grey;
      padding: 2mm;

      .thumbnail {
        width               : 71mm;
        height              : 45mm;

        background-position : center center;
        background-repeat   : no-repeat;
        background-size     : contain;
      }
    }

    .info {
      width: 100%;
      padding: 2.5mm 2mm;

      .location {
        width: 100%;
        text-align: center;
        font-size: .79rem;
        font-family: $font-bold;
      }

      .date {
        margin-top: 1mm;
        text-align: center;
      }
    }
  }
}

.screenshot-card-date-icon {
  margin-right: 1mm;
  vertical-align: middle;
}


.screenshot-card-date-component {
  color: $idle-grey;
  font-size: .79rem;
}
